
/***** RADIUS *****/

$radius-sm:20px;
$radius-lg:40px;
$radius-xl:60px;


/***** COLORS *****/

$color-body:#f1efef;
$blue:#a5bfb5;
$pink:#bfa5af;
$pink-dark:#a66f84;

/***** FONT SIZE *****/



/***** SHADOW *****/

$shadow:rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;

