

.btn-primary{
  background-color: #72abbe;
  border: none;
  box-shadow: $shadow;
  &:hover{
    background: #308296;
  }
}

.btn-danger{
  background-color: #8f3535;
  border: none;
  box-shadow: $shadow;
  &:hover{
    background: #4f0d0d;
  }
}

.btnCreate{
  background-color:#bfa5af;
  border:none;
  font-size: 20px;
  border-radius: 15px;
  height: 50px;
  display: flex;
  align-items: center;
  box-shadow: $shadow;
  &:hover{
    background-color: #916276;
  }
}