
.rounded-pill{
  font-size: 15px;
}


.categoryBack{
  background-color: #6fa691;
}

.categoryFront{
  background-color: #756fa6;
}

.categoryCms{
  background-color: #a66f84;
}

.categoryDesign{
  background-color: #a0a66f;
}

