*{
  font-family: 'Roboto', sans-serif;
}


.titleBigSize{
  font-size: 120px;
  font-family: "blithe", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titleMiddleSize{
  font-size: 50px;
}
.titleSmallSize{
  font-size: 30px;
  font-weight: bold;
}

.titleSmallerSize{
  font-size: 17px;
}

.textFontSize{
  font-size: 30px;
}

.footerFont{
  font-size: 15px;
}

.boldFont{
  font-weight: bold;
}

.contactTitle{
  font-size: 50px;
  font-family: "blithe", sans-serif;
}