.pinkBox {
  background: #bfa5af;
  min-height: 80px;
  width: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 20px;
}

.blueBox {
  background: #a5bfb5;
  min-height: 80px;
  width: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 20px;
}

* {
  font-family: "Roboto", sans-serif;
}

.titleBigSize {
  font-size: 120px;
  font-family: "blithe", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titleMiddleSize {
  font-size: 50px;
}

.titleSmallSize {
  font-size: 30px;
  font-weight: bold;
}

.titleSmallerSize {
  font-size: 20px;
}

.textFontSize {
  font-size: 30px;
}

.footerFont {
  font-size: 15px;
}

.titleBackgroundBlue {
  background-color: #a5bfb5 !important;
  min-height: 200px;
  width: 500px;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;
}

.titleBackgroundBlueBigger {
  background-color: #a5bfb5 !important;
  min-height: 200px;
  width: 700px;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

.titleBackgroundBlueSmaller {
  background-color: #a5bfb5 !important;
  min-height: 50px;
  width: 250px;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;
  margin-left: -15px;
  padding-left: 20px;
  padding-top: 3px;
  color: white;
  font-size: 25px;
}

.titleBackgroundText {
  font-size: 30px;
  color: white;
}

.btn-primary {
  background-color: #72abbe;
  border: none;
}
.btn-primary:hover {
  background: #308296;
}

.btn-danger {
  background-color: #8f3535;
  border: none;
}
.btn-danger:hover {
  background: #4f0d0d;
}

.btnCreate {
  background-color: #bfa5af;
  border: none;
  font-size: 20px;
  border-radius: 15px;
  height: 50px;
  display: flex;
  align-items: center;
}
.btnCreate:hover {
  background-color: #916276;
}

.rounded-pill {
  font-size: 20px;
}

.categoryBack {
  background-color: #6fa691;
}

.categoryFront {
  background-color: #756fa6;
}

.categoryCms {
  background-color: #a66f84;
}

.categoryDesign {
  background-color: #a0a66f;
}

.tableTitleBackground {
  background-color: #cde0d6;
}

.tableTitle {
  font-size: 25px;
  font-weight: bold;
}

.img-wrapper {
  position: relative;
}

.btn-image {
  position: absolute;
  top: 5px;
  right: 5px;
}

nav {
  margin-top: 30px;
}
nav .navGeneral {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav li {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  color: white !important;
}
nav .currentLink {
  background-color: #bfa5af;
  font-size: 25px;
  min-height: 160%;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.imgAbsolute {
  position: absolute;
  right: 10px;
}

body {
  position: relative;
}
body .backgroundBox {
  position: absolute;
  right: 100px;
  top: -100px;
  background-color: #a5bfb5;
  height: 880px;
  width: 600px;
  z-index: -1;
  border-bottom-right-radius: 50px;
}
body .backgroundBox .whiteRound {
  position: absolute;
  background-color: #bfa5af;
  height: 700px;
  width: 700px;
  border-radius: 600px;
  top: 250px;
  right: 200px;
}
body .containerPadding {
  padding: 0 100px !important;
}

footer {
  background-color: #212529;
  min-height: 100px;
}
footer div p {
  color: white;
}

.marginRight {
  padding-right: 200px !important;
}

/*# sourceMappingURL=main.css.map */
