@import "pinkBox";
@import "blueBox";
@import "fontSize";
@import "titleBackground";
@import "buttons";
@import "category";
@import "table";
@import "timeline";

.img-wrapper{
  position: relative;
}

.btn-image{
  position: absolute;
  top: 5px;
  right:5px;
}

nav {
  margin-top: 30px;

  .navGeneral {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: white !important;
  }



  .currentLink {
    background-color: #bfa5af;
    font-size: 25px;
    min-height: 160%;
    font-weight: bold;
    display: flex;
    align-items: center;

  }
}

.imgAbsolute {
  position: absolute;
  right: 10px;
}


body {
  position: relative;

  .backgroundBox {
    position: absolute;
    right: 100px;
    top: -100px;
    background-color: #a5bfb5;
    height: 880px;
    width: 600px;
    z-index: -1;
    border-bottom-right-radius: 50px;

    .whiteRound {
      position: absolute;
      background-color: #bfa5af;
      height: 700px;
      width: 700px;
      border-radius: 600px;
      top: 250px;
      right: 200px;
    }
  }

  .containerPadding {
    padding: 0 100px !important;
  }
}

footer{
  background-color: #212529;
  min-height: 100px;
  div{
    p{
      color:white;
    }
  }
}

.marginRight{
  padding-right: 200px!important;
}

