@import "variables";
@import "pinkBox";
@import "blueBox";
@import "fontSize";
@import "titleBackground";
@import "buttons";
@import "category";
@import "table";
@import "timeline";
@import "animation";


body {
  background-color: $color-body;
}

.container {
  margin-left: 200px !important;
  min-height: 80vh;
}

.img-wrapper {
  position: relative;
}

.btn-image {
  position: absolute;
  top: 5px;
  right: 5px;
}

nav {
  margin-top: 30px;
  padding: 0 80px;

  .navGeneral {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: white !important;
  }


  .currentLink {
    background-color: #bfa5af;
    font-size: 25px;
    min-height: 160%;
    min-width:95px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.imgAbsolute {
  position: absolute;
  right: 10px;
}


body {
  position: relative;

  .backgroundBox {
    position: absolute;
    right: 100px;
    top: -100px;
    background-color: #a5bfb5;
    height: 880px;
    width: 600px;
    z-index: -1;
    border-bottom-right-radius: 50px;

    .whiteRound {
      position: absolute;
      background-color: #bfa5af;
      height: 700px;
      width: 700px;
      border-radius: 600px;
      top: 250px;
      right: 200px;
    }
  }
}

footer {
  background-color: #212529;
  min-height: 100px;

  p {
    color: white;
  }
}

.marginRight {
  padding-right: 200px !important;
}

.soonToBe:after {
  content: 'Thiaumont, Belgique';
}

.soonToBe:hover:after {
  content: 'Hachy, Belgique'
}

.progress {
  min-width: 500px;
}

.imageWow {
  background: url("../images/imagesprojet/wow.jpg") no-repeat center;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.imageCat {
  background: url("../images/imagesprojet/cat2.png") no-repeat center;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.hobby {
  min-width: 600px;
}