

.pinkBox{
  background: #bfa5af;
  min-height: 80px;
  width:200px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 20px;
}

.pinkBoxAnimated{
  background: #bfa5af;
  min-height: 80px;
  width:200px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 20px;
  animation-name: pinkBox;
  animation-duration:3s;
  animation-iteration-count: infinite;
  animation-direction:alternate;
  animation-timing-function: linear;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}