.titleBackgroundBlue{
  background-color: #a5bfb5!important;
  min-height: 200px;
  width: 500px;
  border-bottom-right-radius: $radius-xl;
  border-top-right-radius: $radius-xl;
  box-shadow: $shadow;
}


.titleBackgroundBlueBigger{
  background-color: #a5bfb5!important;
  min-height: 200px;
  width: 700px;
  border-bottom-right-radius: $radius-xl;
  border-top-right-radius: $radius-xl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  box-shadow: $shadow;
}

.titleBackgroundBlueSmaller{
  background-color: #a5bfb5!important;
  min-height: 50px;
  width: 250px;
  border-radius: $radius-sm;
  margin-left: -15px;
  padding-left: 30px;
  padding-top: 6px;
  color:white;
  font-size: 25px;
  box-shadow: $shadow;
}


.titleBackgroundText{
  font-size: 30px;
  color:white;
}